/.vs/Kotlib/xs/UserPrefs.xml
/.vs/Kotlib_452/xs/UserPrefs.xml
/Kotlib.test/bin/Debug/Kotlib_452.dll
/Kotlib.test/bin/Debug/Kotlib_452.pdb
/Kotlib.test/bin/Debug/Kotlib_452.test.exe
/Kotlib.test/bin/Debug/Kotlib_452.test.exe.config
/Kotlib.test/bin/Debug/Kotlib_452.test.pdb
/Kotlib.test/bin/Debug/Kotlib_452.xml
/Kotlib.test/bin/Debug/net5.0/Kotlib.dll
/Kotlib.test/bin/Debug/net5.0/Kotlib.pdb
/Kotlib.test/bin/Debug/net5.0/Kotlib.test.deps.json
/Kotlib.test/bin/Debug/net5.0/Kotlib.test.dll
/Kotlib.test/bin/Debug/net5.0/Kotlib.test.dll.config
/Kotlib.test/bin/Debug/net5.0/Kotlib.test.exe
/Kotlib.test/bin/Debug/net5.0/Kotlib.test.pdb
/Kotlib.test/bin/Debug/net5.0/Kotlib.test.runtimeconfig.dev.json
/Kotlib.test/bin/Debug/net5.0/Kotlib.test.runtimeconfig.json
/Kotlib.test/bin/Debug/net5.0/ref/Kotlib.test.dll
/Kotlib.test/bin/Release/Kotlib_452.dll
/Kotlib.test/bin/Release/Kotlib_452.test.exe
/Kotlib.test/bin/Release/Kotlib_452.test.exe.config
/Kotlib.test/bin/Release/Kotlib_452.xml
/Kotlib.test/bin/Release/net5.0/Kotlib.dll
/Kotlib.test/bin/Release/net5.0/Kotlib.pdb
/Kotlib.test/bin/Release/net5.0/Kotlib.test.deps.json
/Kotlib.test/bin/Release/net5.0/Kotlib.test.dll
/Kotlib.test/bin/Release/net5.0/Kotlib.test.dll.config
/Kotlib.test/bin/Release/net5.0/Kotlib.test.exe
/Kotlib.test/bin/Release/net5.0/Kotlib.test.pdb
/Kotlib.test/bin/Release/net5.0/Kotlib.test.runtimeconfig.dev.json
/Kotlib.test/bin/Release/net5.0/Kotlib.test.runtimeconfig.json
/Kotlib.test/bin/Release/net5.0/Kotlib.xml
/Kotlib.test/bin/Release/net5.0/ref/Kotlib.test.dll
/Kotlib.test/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/Kotlib.test/obj/Debug/Kotlib_452.test.csproj.CopyComplete
/Kotlib.test/obj/Debug/Kotlib_452.test.csproj.CoreCompileInputs.cache
/Kotlib.test/obj/Debug/Kotlib_452.test.csproj.FileListAbsolute.txt
/Kotlib.test/obj/Debug/Kotlib_452.test.csprojAssemblyReference.cache
/Kotlib.test/obj/Debug/Kotlib_452.test.exe
/Kotlib.test/obj/Debug/Kotlib_452.test.pdb
/Kotlib/bin/Debug/Kotlib_452.dll
/Kotlib/bin/Debug/Kotlib_452.pdb
/Kotlib/bin/Debug/Kotlib_452.xml
/Kotlib/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/Kotlib/obj/Debug/Kotlib_452.csproj.CoreCompileInputs.cache
/Kotlib/obj/Debug/Kotlib_452.csproj.FileListAbsolute.txt
/Kotlib/obj/Debug/Kotlib_452.csprojAssemblyReference.cache
/Kotlib/obj/Debug/Kotlib_452.dll
/Kotlib/obj/Debug/Kotlib_452.pdb
/packages/NuGet.Build.Packaging.0.2.0/.signature.p7s
/packages/NuGet.Build.Packaging.0.2.0/NuGet.Build.Packaging.0.2.0.nupkg
/packages/NuGet.Build.Packaging.0.2.0/build/ApiIntersect.exe
/packages/NuGet.Build.Packaging.0.2.0/build/ApiIntersect.exe.config
/packages/NuGet.Build.Packaging.0.2.0/build/GenerateReferenceAssembly.csproj
/packages/NuGet.Build.Packaging.0.2.0/build/ICSharpCode.Decompiler.dll
/packages/NuGet.Build.Packaging.0.2.0/build/ICSharpCode.NRefactory.CSharp.dll
/packages/NuGet.Build.Packaging.0.2.0/build/ICSharpCode.NRefactory.Cecil.dll
/packages/NuGet.Build.Packaging.0.2.0/build/ICSharpCode.NRefactory.Xml.dll
/packages/NuGet.Build.Packaging.0.2.0/build/ICSharpCode.NRefactory.dll
/packages/NuGet.Build.Packaging.0.2.0/build/Mono.Cecil.Mdb.dll
/packages/NuGet.Build.Packaging.0.2.0/build/Mono.Cecil.Pdb.dll
/packages/NuGet.Build.Packaging.0.2.0/build/Mono.Cecil.Rocks.dll
/packages/NuGet.Build.Packaging.0.2.0/build/Mono.Cecil.dll
/packages/NuGet.Build.Packaging.0.2.0/build/Mono.Options.dll
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.Authoring.props
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.Authoring.targets
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.Compatibility.props
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.CrossTargeting.targets
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.Inference.targets
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.Legacy.props
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.Legacy.targets
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.ReferenceAssembly.targets
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.Tasks.dll
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.Tasks.pdb
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.Version.props
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.props
/packages/NuGet.Build.Packaging.0.2.0/build/NuGet.Build.Packaging.targets
